.LoginPage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

.ImgFormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 10%;
}

.LogoContainer {
  width: 100%;
  height: 100px;
}

.Logo {
  padding-left: 5%;
}

.LoginPageForm {
  padding-top: 0px;
  height: 100%;
  width: 100%;
}

.LoginPageImg img {
  padding-top: 0px;
  height: 600px;
}

@media (max-width: 768px) {
  .ImgFormContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
  }

  .LoginPageImg {
    order: 1;
  }

  .LoginPageForm {
    order: 2;
  }

  .LoginPageImg img {
    height: 400px;
  }
}


  @media (max-width: 480px) {
    .LoginPage {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: 0.3fr 5fr;
      grid-template-columns: 1fr;
    }
    .ImgFormContainer {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    .LoginPageImg {
      order: 1;
    }

    .LoginPageForm {
      order: 2;
    }

    .LoginPageImg img {
      height: 300px;
    }
  }
