.PaymentManageDiv{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr 1fr auto;
    grid-template-columns: 1fr;
   
}

.Payment{
    height: 100%;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.PaymentManagement{
    height: 100%;
    width: 100%;

}


.PaymentText p{
    font-size: 22px;
    color: #453823;
    margin-left: 2rem;
}
.TotalPayment,.PendingPayment,.AcceptedPayment{
    height: 100%;
    width: 25%;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    
    flex-direction: row;
    align-items: center;
    padding: 5px;

}
.TotalPayment{
    border-color: #453823;

}
.PendingPayment{
    border-color: #E54646;

}
.AcceptedPayment{
    border-color: #7EBE2C;

}
.PaymentInfo{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-top: 1.5rem;
}
.PaymentOverview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0px;
}
.Overview{
    font-size: 24px;
    color: #453823;
    font-weight: 500;
}
.History{
    color: #453823;
}
.recentPay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 1.5rem;

}
.recentPayButs{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.Quotationcreate1{
    height: 40px;

    background-color: #561F37;
    margin-right: 3rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.recentPayText{
    color: #453823;
    font-size: 20px;
    font-weight: 600;
}
.PayHeaders{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 1rem;
    font-size: 16px;
    font-weight: 600;
    padding-left: 2rem;
}
