.ProfileBack {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
.ProfileDiv {
  height: 80%;
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr 0.5fr 0.5fr;
  grid-template-columns: 1fr;
}
.Hero,
.ProfileInfo {
  height: 100%;
  width: 100%;
}
.Hero {
  font-size: 24px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
.Photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 32%;
  margin-left: 34%;
}
#RoundPhoto {
  width: 50%;
}
button {
  font-family: "Poppins", sans-serif;
}
.ProfileInfo {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
}
ul {
  list-style: none;
}

.Lable li {
  font-size: 16px;
  padding: 8px 0px 8px 10px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: 0.15rem;
}
.inputs li {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
}
.inputs input {
  padding: 8px 0px 8px 10px;
  width: 95%;
  border-radius: 5px;
  border-color: #8a4fff;
}
.UploadBut {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  border-color: #8a4fff;
  background-color: white;
  border-radius: 10px;
  margin-left: 10%;
}
.UploadBut button {
  border-radius: 10px;
  height: 100%;
  border-color: #8a4fff;
  background-color: white;
}

.SaveBut {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.SaveBut button {
  background-color: #8a4fff;
  border-radius: 10px;
  border: 0px;
  color: white;
  width: 20%;
}
#UploadButId {
  border: 0px;
  background-color: white;
}
