.ClientPageDiv{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 5fr;
    grid-template-columns: 1fr;
    overflow-x: hidden;
   
   
}
.BandcBut{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}
.TeamMember{
    height: 100%;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ClientManagement{
    height: 100%;
    width: 100%;
 
}
.BandcBut {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   
   
}
.ClientBut{

    border-radius: 0px 10px 10px 0px;
 
    border: 1px solid;

    text-decoration: none;
    border-color: #a386ff;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.BusinessBut{
    border-radius: 10px 0px 0px 10px;
    margin-left: 2rem;
    border: 1px solid;
    border-color: #a386ff;
    text-decoration: none;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 16px;
}
.TeamMemberButtons{
    display: flex;
    gap: 2rem;
   
}
.AddBusiness{
    height: 40px;
    width: 120px;
    background-color: #561F37;
    margin-right: 3rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.Filter{
    height: 40px;
    width: 120px;
   border: 1px solid #858585;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.TeamMemberText p{
    font-size: 22px;
    color: #453823;
    margin-left: 2rem;
}
.filter-container {
    position: relative;
    display: inline-block;
    color: #858585;
  }
  .filter-container:hover{
    background-color: #858585;
    color: white;
    border-radius:5px ;
  }
  
  .filter-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .filter-icon {
    margin-right: 5px;
  }
  
  .filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 150px;
  }
  
  .filter-item {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .filter-item:hover {
    background-color: #f5f5f5;
  }
  