/* Profile Section */
.profile-info {
    display: flex;
    gap: 20px;
  
    padding: 20px 20px 20px 20px;
  }
  
  .profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  .profile-picture button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #a386ff;
    background-color: white;
    color: #a386ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .profile-picture button:hover {
    background-color: #a386ff;
    color: white;
  }
  
  .profile-details {
    flex: 1;
  }
  
  .profile-details h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
  }
  
  .profile-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }
  
  /* Form Section */
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 20px);
    padding-right: 20px;
    padding-left: 20px;
    
  }
  
  .form-group label {
    font-size: 14px;
    color: #bdbdbd;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 8px;
    border:1px solid #8759e3;
  border-radius: 10px;
  margin-bottom: 1rem;
    font-size: 14px;
  }
  
  .form-group input:focus {
    border-color: #a386ff;
    outline: none;
  }
  
  /* Save Button */
  .save-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }
  
  .save-button button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #a386ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-button button:hover {
    background-color: #8759e3;
  }
  .MyProfile{
    height: 100%;
    width: 90%;
    border-radius: 20px;
    
    background-color: rgb(255, 255, 255);
  }