.create-account {
  padding-top: 0px;
  text-align: center;
}

.hero {
  text-align: left;
}

.create-account h1 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 10px;
  font-weight: 500;
}

.create-account p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group,
.form-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.form-row input,
.form-row select,
.form-row button {
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #8a4fff;
  line-height: 24px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#Sel {
  padding: 5px;
  width: 20%;
  font-family: "Poppins", sans-serif;
  background-color: #9192ff;
  margin-right: 60%;
  color: white;
  border-radius: 15px;
}

.form-row input:focus,
.form-row select:focus {
  outline: none;
  border-color: #7d6eff;
  box-shadow: 0 0 4px #7d6eff;
}

.submit-btn{
  background-color: #7d6eff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

button.submit-btn:hover {
  background-color: #6954e0;
}

.gender-group {
  display: flex;
  gap: 5px;
  align-items: center;
}

.gender-group label {
  margin-right: 10px;
}

a {
  color: #7d6eff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .create-account {
    margin: 0px;
  }

  .create-account h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .create-account p {
    font-size: 14px;
    line-height: 20px;
  }

  .form-row {
    flex-direction: column;
    gap: 15px;
  }

  #Sel {
    width: 100%;
    margin-right: 0;
  }

  .form-row input,
  .form-row select,
  .form-row button {
    width: 100%;
  }
  .submit-btn{
    height: 35px;
  }
}

@media (max-width: 480px) {
  .create-account {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0px;
    text-align: center;
    margin: 20px auto;
  }
  .create-account h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .create-account p {
    font-size: 12px;
    line-height: 18px;
  }

  .form-row input,
  .form-row select,
  .form-row button {
    font-size: 14px;
  }

  #Sel {
    width: 100%;
    margin-right: 0;
  }
}
