.RevenueLabel,
.PaymentLabel,
.GstLabel,
.Users {
  font-size: 20px;
  line-height: 30px;
  color: #545454;
}

.RevenueCount,
.GstCount,
.PaymentCount,
.UserCount {
  color: #561f37;
  font-weight: 700;
}
.htmlOfDiv1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: left;
}

.Active,
.New {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3%;
  font-size: 14px;
  line-height: 21px;
  color: #545454;
}
