.DashBoardFeatureCon {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 1.5fr minmax(auto, 1.2fr);
  grid-template-columns: 1fr;
 
}
.greet {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left:3rem;
  padding-bottom:1rem;
  font-size: 18px;
  font-weight: 600;
}
.PendingApproval a{
  color: white;
  text-decoration: none;
}

.stats1 {
  width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
.stats2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.recentTransations {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}
.TransactionHistory {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}
.PendingApproval {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: #8a4fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.TransactionInfo1 {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: 600;
}
.TransactionInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 gap: 4rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}
.Alltrans {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.recentTransations{
  height: 100%;
}
.RevenueLabel,
.PaymentLabel,
.GstLabel,
.Users {
  font-size: 16px;
  line-height: 30px;
  color: #545454;
}
.Users{
  width: 100%;
}

.RevenueCount,
.GstCount,
.PaymentCount,
.UserCount {
  color: #561f37;
  font-weight: 700;
}

.htmlOfDiv1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: left;
}


.Paymentandimg,.Gstandimg,.Revenueandimg,.usersandimg{
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  align-items: center;
  
   gap: 10%;
   width: 100%;
   text-align: left;
  }
  .htmlOfDiv1,.htmlOfDiv2,.htmlOfDiv3,.htmlOfDiv4{
    border: 3.5px solid;
    max-width: 180px;
    max-height: 130px;
    width: 100%;
   padding-left: 20px;
   padding-right: 20px;
    height: 100%;
    border-radius: 15px;
  }
  .htmlOfDiv1{
   margin-left: 3rem;
   display: grid;
   grid-template-rows: 0.2fr 0.1fr 0.1fr 0.1fr;
   width: 100%;
   justify-content: left;
   border-color: #561f37;
  }
  .GstLabel,.RevenueLabel,.Users,.PaymentLabel{
    font-size: 16px;
    font-weight: 600;
  }
  .htmlOfDiv2{
    border-color: #8a4fff;
  }
  .htmlOfDiv3{
    border-color: #99D052;
  }
  .htmlOfDiv4{
    border-color: #E54646;
    margin-right: 3rem;
  }
  .htmlOfDiv1:hover, 
  .htmlOfDiv1:hover * {
    color: white;
    background-color: #561f37;
  }
  .htmlOfDiv2:hover, 
  .htmlOfDiv2:hover * {
    color: white;
    background-color: #8a4fff;
  }
  .htmlOfDiv3:hover, 
  .htmlOfDiv3:hover * {
    color: white;
    background-color: #99D052;
  }
  .htmlOfDiv4:hover, 
  .htmlOfDiv4:hover * {
    color: white;
    background-color: #E54646;
   

  }
.Users{
  padding-right: 2rem;
}
.usersandimg{
  padding-top: 10px;
}