.tax-dashboard-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 1.5fr;
    grid-template-columns: 1fr;
  }
  
  /* Welcome Section */
  .welcome-section {
    background-color: #F5F7F9;
    border-radius: 20px;
    margin: 0 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    gap: 5px;
    align-items: center;
  }
  
  .welcome-text {
    display: grid;
    grid-template-rows: 1fr 0.2fr 0.2fr;
    gap: 5px;
    align-items: center;
    padding: 20px;
  }
  
  .welcome-title {
    color: #8A4FFF;
    font-size: 25px;
  }
  
  .welcome-subtext {
    font-size: 16px;
    font-weight: 400;
  }
  
  .welcome-date {
    font-size: 18px;
    font-weight: 400;
  }
  
  .welcome-image img {
    max-height: 150px;
    padding: 0px 30px 0px 10px;
  }
  .support-cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .support-card {
    width: 280px;
    height: 180px;
    border: 2px solid #8A4FFF;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .support-card :hover {
    transform: scale(1.05);
    background-color: #8A4FFF;
    color: white;
  }
  
  .card-title {
    font-size: 18px;
    color: #8A4FFF;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-icon {
    font-size: 40px;
    color: #8A4FFF;
    margin-top: 10px;
  }
  
