.help-requests-container {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;

    margin: 0 auto;
  }
  
  .request-card {
    display: flex;
    align-items: center;
    padding: 10px;
    
    background: #fff;
    border: 1px solid #e0e0e0;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .request-info {
    flex-grow: 1;
  }
  
  .request-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  .request-status {
    font-size: 14px;
    color: #777;
  }
  
  .request-time {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .notification-count {
    background: #ff4081;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
  }
  