.transaction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  gap: 4rem;
  align-items: center;
  width: 100%;
}
.TransactionInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 4rem;
}