/* Container styling */
.auth-settings {
    display: flex;
    gap: 5rem;
    padding: 20px;
    background-color: #f7f8fc;
    font-family: "Poppins", sans-serif;
  }
  
  /* Card styling */
  .password-management{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 35%;
  }
  .two-factor-auth {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 75%;
  }
  
  /* Section heading */
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  /* Form group */

  
  label {
    font-size: 18px;
    display: block;
   
  }
  
  .input-container {
    position: relative;
  }
  
  input[type="password"] {
    width: 90%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .icon-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    cursor: pointer;
  }
  
  /* Buttons */
  .btn-save,
  .btn-proceed {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #7c4dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
  }
  
  .btn-save:hover,
  .btn-proceed:hover {
    background-color: #5c32cc;
  }
  
  /* Two-Factor Authentication options */
  .auth-option {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
display: grid;
grid-template-columns: 1fr 4fr;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .auth-option:hover {
    border-color: #7c4dff;
  }
  
  .auth-option input[type="radio"] {
    margin-right: 10px;
  }
  
  .auth-option-details strong {
    font-size: 14px;
  }
  
  .auth-option-details p {
    font-size: 12px;
    color: #555;
    margin: 5px 0 0;
  }
  